//  Component

i.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  padding: 4px;
}



#main-nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0px;
  
  padding-top: var(--unit);
  padding-bottom: var(--unit);
  padding-right: var(--window-padding);
  padding-left: var(--window-padding);

  .icon svg * {
    fill: var(--blue);
   }
}
#main-nav.context-blue {
  background-color: var(--blue);
  color: var(--white) ;

  .icon svg * {
  fill: var(--green);
  }
}

a.menu-logo {
  display: inline-block;
  // margin: calc(var(--unit) * 2) ;
}

a.menu-logo svg {
  fill:var(--black);
  height: 64px ;
}
.context-blue a.menu-logo svg {
  fill:var(--white);
}


// States
#main-nav {
  background-color: transparent ;

  .menu-logo,
  .lj-button {
    opacity: 0;
  }
}
#main-nav.is-nav-visible  {
  background-color: var(--paper);

  .menu-logo,
  .lj-button {
    opacity: 1;
  }

}
 
#bt-mobile-menu, 
#bt-mobile-menu-hide {

  cursor: pointer;
  display: block;
    right: 16px;
    top: 16px;
  border: 0;
  border-radius: 28px;

  @media screen and (MIN-WIDTH:1234px) {
    display: none;
  }
}

#bt-mobile-menu {
  position: absolute ;
  background-color: var(--blue);
  transition-property: all;
  transition-duration: 300ms;
  width: 50vw;
  height: 105vh;
  transform: scale(2);
  transform-origin: 90% bottom;
  svg * { fill:var(--green); }
}
#bt-mobile-menu.mobile-menu__is-closed {
  transition-property: all;
  transition-duration: 100ms;
  // width: calc(100vw + 20px);
  // height: calc(100vh + 20px);
  // transform: translate(26px, -26px);
  width: 56px;
  height: 56px;
  transform: scale(1);
}

#bt-mobile-menu-hide {
  position: fixed;

  width: 56px;
  height: 56px;
  background-color: var(--green);
  z-index: 10;
  scale: 1;
  opacity: 1;
  transition: scale, opacity;
  transition-duration: 220ms, 100ms;
  transition-delay: 100ms, 100ms;
  transition-timing-function: cubic-bezier(0.48,0.55,0.69,1.76), ease-in;

  svg * { fill:var(--blue); }  
}
#bt-mobile-menu-hide.mobile-menu__is-closed {


  z-index: -1;
  scale: 0.2;
  opacity: 0;

  transition: scale, opacity;
  transition-duration: 200ms, 500ms;
  transition-delay: 0ms, 5ms;
}


#mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  background-color: var(--blue);
  color: var(--green);
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-delay: 100ms, 0ms;
  transition-duration:  100ms, 0ms;


}
#mobile-menu.mobile-menu__is-closed {
  transform: translateX(100vw);
  transition-property: opacity, transform;
  transition-delay: 100ms, 0ms;
  transition-duration:  100ms, 0ms;
  opacity: 0;
  // display: none;
}

ul.mobile-menu--list {
  padding-inline-end: calc(var(--unit) * 2) ;
  ul {
    padding-inline-start: calc(var(--unit) * 4) ;
    
    li:not(:last-of-type) a { border-bottom: 1px solid var(--green); }
  }
  > li > a {
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
  } 
  > li:last-child li:last-child a { border-bottom: 1px solid var(--green); }
  li {
    list-style: none;
  }
  li a {
    font-size: var(--fs-m);
    color: var(--green);
    // background-color: blue;
    width: 100%;
    display: inline-block;
    padding-top: 0.5em ;
    padding-bottom : 0.5em ;
  }
}

// menu-secondary


.menu--item {
  font-size: var(--fs-m);
}

.menu--item.lj-button {
  padding: 20px 40px;
  height: 64px;
}

span.menu-secondary {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.5 ;
  gap: calc(var(--unit) * 2);
  padding-inline-start: var(--unit);
}

a.menu--icon {
  display: block;
}

#mobile-menu svg * {
  fill: var(--green);
}
#mobile-menu a {
  color: var(--green);

}
 





.lj-button {
  display: inline-block;
  border: 1px solid var(--blue);
  color: var(--blue);
  line-height: 1;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 9999px;

  &:hover {
    transform: scale(1.2);
    // background-color: white;
  }
}

.context-blue .lj-button {
  border-color: var(--green);
  color: var(--green);
}

.link-table {
  ul {padding-inline-start: 0;}
  li {
    list-style-type: none;
    border-top: 1px solid var(--blue);
    
    &:last-child {
      border-bottom: 1px solid var(--blue);
    }
  }
  .context-blue li,
  .context-blue li:last-child {
    border-color: var(--green);
  }

  li > a {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-m);
    padding-top: 4px;
    align-items: center;
    min-height: 44px;
    
    em {      
      font-style: normal;
      font-size: var(--fs-s) ;
    }
  }
}

// context-blue
#mobile-menu a.menu--item.is-current {
  color: var(--white);
}

@media screen and (MIN-WIDTH:1234px) {
  

  .menu--item.lj-button {
    background-color: var(--blue);
    color: var(--green);
    border: none;
  }
  .context-blue .menu--item.lj-button {
    background-color: var(--green);
    color: var(--blue);
  }

  .menu--item.is-current {
    background-color: var(--black);
  }
  .context-blue .menu--item.is-current {
    background-color: var(--white);
  }
}
