//  Component

i.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  padding: 4px;
}



#main-nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 100;
  
  padding-top: var(--unit);
  padding-bottom: var(--unit);
  padding-right: var(--window-padding);
  padding-left: var(--window-padding);
  
  .icon svg * {
    fill: var(--paper);
  }
  // .menu-logo svg {
  //   margin-bottom: -20px; 
  // align on baseline
  // }
  
  @media screen and (MIN-WIDTH:1880px ) {
    position: sticky;
    top: 0px;
  }
}


a.menu-logo {
  // display: inline-block;
  margin-right: auto ;
  // position: absolute ;
}

a.menu-logo svg {
  fill:var(--active);
  height: 64px ;
}
// .context-blue a.menu-logo svg {
//   fill:var(--white);
// }
#main-nav > span.menu-secondary {
  margin-left: auto ;
}

.menu--item.lj-button {
  padding-left: 40px;
  padding-right: 40px;
  height: 64px;
  align-items: center ;
  margin-left: var(--window-padding) ;
  // margin-right: var(--window-padding) ;

}

#main-nav > .wrapper {
  width: 50%;
}


// States
#main-nav {
  background-color: transparent ;
  margin-top: -54px;
  
  .wrapper .menu-logo,
  .lj-button {
    opacity: 0;
    display: none;
  }
}
@media screen and (MIN-WIDTH:1880px ) {
  
  #main-nav.is-nav-visible  {
    background-color: var(--paper);
    margin-top: auto;


    .wrapper .menu-logo,
    .lj-button {
      opacity: 1;
      display: flex;
    }
  }
}



  
.wrapper.hamburger-button {
  position: sticky;
  right: 0;
  top: 0;
  z-index: 50;
}

 
#bt-mobile-menu, 
#bt-mobile-menu-hide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: block;
    right: 16px;
    top: 16px;
  border: 0;
  border-radius: 28px;

  @media screen and (MIN-WIDTH:1880px) {
    display: none;
  }
}

#bt-mobile-menu {
  position: absolute ;
  z-index: 50;
  // margin: 32px 16px -64px auto;
  transition-property: all;
  transition-duration: 300ms;
  width: 50vw;
  height: 105vh;
  transform: scale(2);
  transform-origin: 90% bottom;
  background-color: var(--accent);
  svg * { fill:var(--accent); }
}
#bt-mobile-menu.mobile-menu__is-closed {

  background-color: var(--accent);
  svg * { fill:var(--paper); }
  transition-property: all;
  transition-duration: 100ms;
  // width: calc(100vw + 20px);
  // height: calc(100vh + 20px);
  // transform: translate(26px, -26px);
  width: 56px;
  height: 56px;
  transform: scale(1);
}

// color the button when main-nav gets a blue bg
// #main-nav.context-blue ~ div.hamburger-button {
//   #bt-mobile-menu.mobile-menu__is-closed {
//     background-color: var(--green);
//     svg * {
//     fill: var(--blue);
//     }
//   }
//   #bt-mobile-menu {
//     background-color: var(--blue);
//   }
// }



#bt-mobile-menu-hide {
  position: fixed;

  width: 56px;
  height: 56px;
  background-color: var(--paper);
  z-index: 10;
  scale: 1;
  opacity: 1;
  transition: scale, opacity;
  transition-duration: 220ms, 100ms;
  transition-delay: 100ms, 100ms;
  transition-timing-function: cubic-bezier(0.48,0.55,0.69,1.76), ease-in;

  svg * { fill:var(--accent); }  
}
#bt-mobile-menu-hide.mobile-menu__is-closed {


  z-index: -1;
  scale: 0.2;
  opacity: 0;

  transition: scale, opacity;
  transition-duration: 200ms, 500ms;
  transition-delay: 0ms, 5ms;
}


#mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  background-color: var(--accent);
  color: var(--paper);
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-delay: 100ms, 0ms;
  transition-duration:  100ms, 0ms;

  a.menu-logo {
    margin-top: var(--window-padding);
    margin-left: var(--window-padding);
    margin-bottom: calc( var(--unit) * 4 );

    svg {
      margin-bottom: 0 ;
    }
  }
}
#mobile-menu.mobile-menu__is-closed {
  transform: translateX(100vw);
  transition-property: opacity, transform;
  transition-delay: 100ms, 0ms;
  transition-duration:  100ms, 0ms;
  opacity: 0;
  // display: none;
}

ul.mobile-menu--list {
  margin-top: auto;
  margin-bottom: 0;
  padding-inline-start: calc(var(--unit) * 2) ;
  padding-inline-end: calc(var(--unit) * 2) ;
  ul {
    padding-inline-start: calc(var(--unit) * 4) ;
    margin-bottom: calc( (var(--fs-m) * 1.35 ) + 1em);

    li a { border-bottom: 1px solid var(--paper); }
    // li:not(:last-of-type) a { border-bottom: 1px solid var(--paper); }
  }
  > li > a {
    border-top: 1px solid var(--paper);
    border-bottom: 1px solid var(--paper);
  } 
  // > li:last-child li:last-child a { border-bottom: 1px solid var(--paper); }
  li {
    list-style: none;
  }
  li a {
    font-size: var(--fs-m);
    color: var(--paper);
    // background-color: blue;
    width: 100%;
    display: inline-block;
    padding-top: 0.5em ;
    padding-bottom : 0.5em ;
  }
}

// menu-secondary


.menu--item {
  font-size: var(--fs-m);
}

span.menu-secondary {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.5 ;
  gap: calc(var(--unit) * 2);
  padding-inline-start: var(--unit);
}

a.menu--icon {
  display: block;
}

#mobile-menu svg * {
  fill: var(--paper);
}
#mobile-menu a {
  color: var(--paper);

}
 





.lj-button {
  display: inline-block;
  border: 1px solid var(--accent);
  color: var(--accent);
  line-height: 1;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  border-radius: 9999px;

  transition-property: padding ;
  transform-origin: left center ;
  transition-duration: 100ms ;
  transition-timing-function: var(--easeOutBack);

  &:hover {
    // transform: scaleX(1.2);
    // padding-left: 32px;
    // padding-right: 32px;
    // background-color: var(--active) !important;
    border-color: var(--active) !important;
  }
  &:hover > a {
    color: var(--active) !important;
  }
}

// fake button for markdown
strong a {

  font-size: var(--fs-s);
  font-weight: normal;
  @extend .lj-button ;
}

// .context-blue .lj-button {
//   border-color: var(--green);
//   color: var(--green);
// }

.link-table {
  ul {padding-inline-start: 0;}
  li {
    list-style-type: none;
    border-top: 1px solid var(--blue);
    
    &:last-child {
      border-bottom: 1px solid var(--blue);
    }
  }
  .context-blue li,
  .context-blue li:last-child {
    border-color: var(--green);
  }

  li > a {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-m);
    padding-top: 4px;
    align-items: center;
    min-height: 44px;
    
    em {      
      font-style: normal;
      font-size: var(--fs-s) ;
    }
  }
}

// context-blue
#mobile-menu a.menu--item.is-current {
  color: var(--reactive);
}

@media screen and (MIN-WIDTH:1880px) {
  

  .menu--item.lj-button {
    background-color: var(--blue);
    color: var(--green);
    border: none;
  }
  .context-blue .menu--item.lj-button {
    background-color: var(--green);
    color: var(--blue);
  }

  .menu--item.is-current {
    background-color: var(--black);
  }
  .context-blue .menu--item.is-current {
    background-color: var(--white);
  }
}


article > img {
  width: calc(var(--window-padding) * 2 + 100%);
  margin-left: calc(var(--window-padding) * -1) ;
  margin-right: calc(var(--window-padding) * -1) ;
}