// variables
:root {

  --green: #b4ff46;
  --blue: #6304fa;
  --black: #000000;
  --white: #ffffff;

  --paper: var(--green) ;
  --ink: var(--black) ;
  --accent: var(--blue) ;
  --active: var(--black) ;

  // font-sizes
  // --fs-s: 0.9375rem ; // 15pts
  // --fs-m: 1.25rem ; // 20pts
  // --fs-l: 1.625rem ; // 26pts
  // --fs-xl: 2.875rem ; // 46pts
  --fs-s: clamp(0.9375rem, 3.75vw, 1.5rem) ; // 15 à 24 pts
  --fs-m: clamp(1.25rem, 5vw, 2rem) ; // 20 à 32 pts
  --fs-l: clamp(1.625rem, 6.5vw, 3.75rem) ; // 26 à 60 pts
  --fs-xl: clamp(2.875rem, 11.5vw, 4.5rem) ; // 46 à 160 pts

  // letter-spacing
  --narrow: -5;
  --tight: -20;
  
  // soft grid
  --unit: 8px ;
  $unit: 8px ;
  --window-padding: 16px;
  
  // ease functions
  --easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1) ;

  // media queries
  --ratio-switch: 1/1;
}

.context-blue {
  --paper: var(--blue) ;
  --ink: var(--white) ;
  --accent: var(--green) ;
  --active: var(--white) ;
}