@use "_variables";
@use "_fonts";
@use "_base";
@use "_componants";


@media (prefers-contrast: more) {
  .contrast {
    outline: 2px solid black;
  }
}


// Markdown hacks

h6 {
  display: block;
}

h6 + h6 {
  margin-top: -1em ;
}







// Layout
html {  
  scroll-padding-top: calc(90px + 1rem);
  scroll-snap-type: y proximity;
}
section {  scroll-snap-align: start;
}

#body-lining {
  overflow-y: scroll;
  scroll-behavior: smooth ;
  // scroll-snap-type: y mandatory;
  scroll-snap-type: y proximity; 
  width: 100vw;
  height: 100vh;
  scroll-padding-top: calc(90px + 1rem);

}
// .section-snap {
//   scroll-snap-align: start;
// }

// snap to 0 instead of default padding
section {
  scroll-margin-top: calc(-90px - 1rem);
}

h1.section-heading {
  font-size: var(--fs-xl);
  position: sticky;
  top: 0px;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 0.4rem;
  margin-bottom: 20vh;
  background-color: var(--paper);
  box-shadow: -100px 0 0 0 var(--paper), 100px 0 0 0 var(--paper);
  color: var(--accent);

  z-index: 10;
  @media screen and (MIN-WIDTH:1880px) {
    opacity: 0;
    height: 0;
    width: 80%; //to prevent overflowX on html
    position: absolute ;
  }
}
.context-blue h1.section-heading {
  color: var(--green);
}


section#quick-access {
  display: grid;
  grid-template-columns: auto 2fr auto auto;
  grid-template-rows: auto repeat(12, 1fr) 48px ;
  height: 100vh ;
  // height: clamp(400px, 100vh, 800px);

  padding-top: var(--unit)  ;
  padding-right: calc(var(--unit) * 2)  ;
  padding-left: calc(var(--unit) * 2)  ;
  
  @media screen and (min-aspect-ratio: 1/1) {
    padding-top: calc(var(--unit) * 2)  ;
    padding-right: calc(var(--unit) * 2)  ;
    padding-left: calc(var(--unit) * 2)  ;
  }

  .lj-home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    overflow: hidden;
    color: var(--green);
    // font-size: 30px; 
    // font-size: 12vw;
    border-radius: 10vh ;
    
    @media screen and (min-aspect-ratio: 1/1) {
      border-radius: 17vh ;

    }

  }
  .bt-label {
    text-align: center;
  }
}
#hero-logo {
  grid-column:1 / -1 ;
  grid-row:1 / 2;
  width: 100%;
  height: 35vw ;
}

#hero-logo__top {
  grid-column:1 / 2 ;
  grid-row:2 / -2 ;
  // width: 100%;
  width: 16vh;
  height: 100%;
  object-fit: contain;
  margin-right: calc( var(--unit) * 2 );
}
#hero-logo__bottom {
  grid-column:-1 / -2 ;
  grid-row: 2 / -2 ;
  
  // width: 100%;
  width: 16vh;
  height: 100%;
  object-fit: contain;
  margin-left: calc( var(--unit) * 2 );

}
#hero-logo__top, #hero-logo__bottom {
  display: none;
}

@keyframes panPano {
  0% {
    background-position-x: 100%;
    background-size: auto 120%;
  }
  20% {
    background-size: auto 100%;
  }
  30% {
    background-size: auto 100%;
  }
  40% {
    background-size: auto 105%;
  }
  45% {
    background-size: auto 105%;
  }
  55% {
    background-size: auto 100%;
  }
  75% {
    background-size: auto 103%;
  }
  90% {
    background-size: auto 110%;
  }
  100% {
    background-position-x: 0% ;
    background-size: auto 115%;
  }
}
#bt-competition {
  grid-column: 1 / -1 ;
  grid-row:2 / span 6 ;
    // background-color: #000000;
    transition-property: all;
    transition-duration: 100ms ;
    // transition-timing-function: --e;
  background-image: url(../images/Panorama-1_bichro.png);
  background-size: auto 100% ;
  animation: 160s cubic-bezier(.15,0,.85,1) 0s infinite alternate both running panPano;

  -webkit-mask-image: radial-gradient(white, black);

  @media screen and (min-aspect-ratio: 1/1) {
    
    &:hover {
      margin-left: -16vh;
    }
  }


  span {
    position: absolute;
    z-index: 1;
    color: var(--green);
  }
}

#bgvid {
  height: 100%;
  width: 100vw;
  object-fit: cover;
  mix-blend-mode: multiply;
  align-self: end;
}




#bt-concept {
  grid-column: 1 / -1 ;
  grid-row: 8 / span 3;

  font-size: clamp(2rem, 14vw, 10rem );  

  transition-property: all;
  transition-duration: 100ms ;
  transition-timing-function: --e;

  @media screen and (min-aspect-ratio: 1/1) {

    &:hover {
      z-index: 1;
      margin-right: -32vh;
    }
  }
}
#bt-about {
  grid-column: 1 / -1 ;
  grid-row: 11 / span 3 ;

  transition-property: all;
  transition-duration: 100ms ;
  transition-timing-function: --e;

  @media screen and (min-aspect-ratio: 1/1) {

    &:hover {
      // z-index: 1;
      margin-right: -16vh ;
      width: calc(49vh - 18px) ;
      aspect-ratio:initial;
    }
  }
  
}
#bt-competition,
#bt-concept,
#bt-about {
  font-size: clamp(2rem, 13vw, 10rem );  

  @media screen and (min-aspect-ratio: 1/2) {
    font-size: 6.6vh;
    // span {color:lightgoldenrodyellow; }
  }
  @media screen and (min-aspect-ratio: 1/1) {
    // font-size: clamp(9vh, 9.5vw, 14vh) ; BEST FOR COMPETITION TITLE
    font-size: clamp(7vh, 9.5vw, 14vh) ;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  #bt-concept {
    font-size: clamp(5.4vh, 20vw - 12rem, 14vh) ;
  }
  #bt-about {
    font-size: 5.4vh;
  }
}

// Consistent with ABOUT font size, from available space and UP 
// @media screen and (min-aspect-ratio: 14/11) {
//   #bt-concept  {
//     font-size: clamp(7vh, 9.5vw, 14vh) ;
//   }
// }

#secondary-nav {
  position: sticky ;
  grid-column: 1 / -1 ;
  grid-row: 14 / span 1 ;
  display: flex;

  align-self: center ;
  justify-self: flex-end ;
}


@media screen and (min-aspect-ratio:   1/1)  {
  #hero-logo {
    display: none;
  }
  #hero-logo__top, #hero-logo__bottom {
    display: block;
  }
  #bt-competition {
    grid-column: 2 / 4 ;
    grid-row: 2 / span 8 ;
  }
  #bt-concept {
    grid-column: 2 / 3;
    grid-row: 10 / span 4 ;
  }
  #bt-about {
    grid-column: 3 / 4;
    grid-row: 10 / span 4 ;

    // aspect-ratio: 1/1; NO GOOD WITH HOVER ANIM
    width: calc(33vh - 18px); //magic number, logic failed
    height: calc(33vh - 18px); //magic number, logic failed
    
    // height: 100%; DOnt do thiS will break everything
  }
}

section#Competition,
section#Concept,
section#About {
  padding-bottom: 20vh;
  @media screen and (MIN-WIDTH: 1880px) {
    padding-top: 25vh;
  }
}

@media screen and (MIN-WIDTH: 1000px) {
  
  section#Sponsors,
  section#Competition,
  section#About {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    article {
      width: 50%;
      padding-left: var(--window-padding);
    }
    aside {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding-top: calc( var(--unit) * 3 );
      padding-right: var(--window-padding);
      max-width: 32rem;
      align-self: flex-start ;
      position: sticky;
      top: 15rem;
    }
  }
}

section#Competition {
  // pour text intro
  > p:first-of-type { font-size: var(--fs-m); }

}
#previous-websites {
  p {
    padding-bottom: 0;
  }
  ul {
    // margin: 0;
    margin-top: calc( var(--unit) * -1.5 );
    padding: 0;
  }
  ul li {
    @extend .lj-button;
    margin-bottom: 4px;
  }
}

section#Concept {

font-size: var(--fs-m);
  
  h6 {
    color: var(--blue);
    font-size: var(--fs-l);

    max-width: 20em;

    @media screen and (MIN-WIDTH: 1000px) {
      max-width: none;
      margin-right: calc(100% / 12 * 4);
      padding-right: var(--window-padding);
    }
  }
  p {
    // margin-left: calc(100% / 12 * 3);
    margin-left: auto;
    padding-left: var(--window-padding);
    max-width: 20em;
    
    @media screen and (MIN-WIDTH: 1000px) {
      max-width: none;
      margin-left: 50%;
      padding-left: var(--window-padding);
    }
  }
}

section#Sponsors {
  background-color: var(--white);
  padding-left: var(--window-padding) ;
  padding-right: var(--window-padding) ;
}

.logo-land {
  display: flex;
  gap: 1em;
  align-items: baseline;
  flex-wrap: wrap;

  padding-top: calc( var(--unit) * 2 )  ;
  padding-bottom: calc( var(--unit) * 2 )  ;

  // line-height: 3em;
}

.logo-land img {
  height: 3.5em;
  // margin-left: 0.5em;
  // margin-right: 1em;
}

.logo-land figure {
margin: 0;
}

.logo-land figcaption {
  display: none;
}

.context-blue {
  background-color: var(--paper) ;
  color: var(--ink);
}

#about-sub-nav {
  display: none ;
  @media screen and (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
  }
}

.aside-content a.lj-button,
.aside-content strong > a {
  width: calc( 200% / 3 - var(--window-padding) ) ;

}

.aside-content > *,
.aside-content .link-table ul {
  margin-bottom: 5vh;
}

.article-content {
  margin-block-end: 3rem;
}